.linkWalletSection {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('/images/bg_auth.png');
}

.formContainer {
    background: white;
    padding: 3.2rem;
    min-height: 50vh;
    border-radius: 1.6rem 1.6rem 0 0;
}

.formContainer {
    padding: 2rem var(--space-5);
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    background: white;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    border: var(--border-solid-primary);
    border-bottom: none;
}

.inputLabel {
    color: var(--color-text-secondary);
    font-size: var(--text-lg);
    font-weight: 500;
}

.inputContainer {
    margin-top: 0.4rem;
    position: relative;
    margin-bottom: 2rem;

    input {
        margin-top: 0.8rem;
        width: 100%;
        padding: var(--space-2) 0 var(--space-2) 0; // no icon, so no left padding
        border: none;
        border-bottom: var(--border-solid);
        font-size: var(--text-sm);
        font-weight: 500;
        letter-spacing: -0.14px;
        color: var(--color-text-secondary);
        outline: none;

        &::placeholder {
            color: var(--color-text-tertiary);
        }

        // 使用属性选择器
        &[disabled] {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    .walletScanner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: var(--space-3);
        height: 2rem;
        width: 2rem;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .radioGroup {
        display: flex;
        justify-content: space-between; // 改为 space-between 让选项平均分布
        align-items: center;
        width: 100%; // 占满父容器宽度
        padding: var(--space-2); //top & bottom
        border: none;
        border-bottom: var(--border-solid);
        font-size: var(--text-sm);
        font-weight: 500;
        color: var(--color-text-secondary);

        label {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            position: relative;
            color: var(--color-text-tertiary);
            font-size: 1.4rem;
            font-weight: 500;
            transition: color 0.3s ease;
            flex: 1; // 每个 label 平均分配空间

            // 选中状态
            &:has(input:checked) {
                color: var(--color-button-primary);
                font-weight: 700;
            }

            // 禁用状态
            &:has(input:disabled) {
                opacity: 0.6;
                cursor: not-allowed;
            }

            input[type="radio"] {
                opacity: 0;
                position: absolute;
                width: 0;
                height: 0;
            }

            .radioCustom {
                width: 1.6rem;
                height: 1.6rem;
                border: var(--border-solid-tertiary);
                border-radius: 0.8rem;
                margin-right: 0.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
            }

            input:checked+.radioCustom {
                background-color: var(--color-button-primary);
                border-color: var(--color-button-primary);

                &::after {
                    content: '✔';
                    font-size: 1.2rem;
                    color: #ffffff;
                }
            }
        }
    }
}


.buttonWraper {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
