.inviteSection {
    min-height: 100vh;

    // background: linear-gradient(180deg, #FFEDE1 0%, #FFFDFB 100%);

}

.inviteImage {
    text-align: center;
    margin-top: 4.6rem;

    // PC端适配
    @media (min-width: 768px) {
        margin-top: 0; // 重置顶部间距
        margin-bottom: 3rem; // 增加底部间距
    }

    img {
        width: 23rem;
        height: auto;

        // PC端适配
        @media (min-width: 768px) {
            width: 30rem; // 增大图片尺寸
        }
    }
}

.inviteContent {
    margin-top: 0.5rem;
    padding: 3.2rem;
    height: 100%;
    width: 100%;
    min-height: 80vh;


    // PC端适配
    @media (min-width: 768px) {
        margin-top: 0; // 重置顶部间距
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.inviteDetails {
    text-align: center;
}

.inviteTitle {
    color: #1B1B1B;
    font-size: 2.4rem;
    font-weight: 700;

    // PC端适配
    @media (min-width: 768px) {
        font-size: 3rem; // 增大标题字体
    }
}

.inviteSubtitle {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #838383;

    // PC端适配
    @media (min-width: 768px) {
        font-size: 1.8rem; // 增大副标题字体
        margin-top: 2rem; // 增加顶部间距
    }
}

.inviteCodeWrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // PC端适配
    @media (min-width: 768px) {
        margin-top: 2rem; // 增加顶部间距
    }
}

.inviteCode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    padding: 1.2rem 1.6rem;
    border-radius: 0.8rem;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.80);
    background: #F8F8F8;

    // PC端适配
    @media (min-width: 768px) {
        padding: 1.6rem 2rem; // 增加内边距
        border-radius: 1rem; // 增大圆角
        gap: 2rem; // 增加间距
    }
}

.codeText {
    font-size: 1.6rem;
    color: var(--color-button-primary);
    font-weight: 500;

    // PC端适配
    @media (min-width: 768px) {
        font-size: 1.8rem; // 增大邀请码字体
    }
}

.copyButton {
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    background: white;
    border: 1px solid #000;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease;

    // PC端适配
    @media (min-width: 768px) {
        padding: 0.8rem 1.6rem; // 增加内边距
        border-radius: 0.5rem; // 增大圆角
        font-size: 1.4rem; // 增大按钮字体
    }

    &:hover {
        background: black;
        color: white;
    }
}

.inviteAction {
    text-align: center;

    // PC端适配
    @media (min-width: 768px) {
        margin-top: 3rem; // 增加顶部间距
    }
}