.journeyHistorySection {
    position: relative;
    // background: linear-gradient(180deg, #FFEDE1 0%, #FFFDFB 100%);
}

.journeyHistoryCardSection {
    // margin-top: -1px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}